body {
  background-color: black;
  display: flex;
  justify-content: center;
}

.title {
  text-align: center;
  color: white;
}
.new-task {
  display: block;
  width: 100%;
  background-color: azure;
  border-radius: 10px;
  height: 500px;
  border-color: aquamarine;
  border-width: 4px;
  text-align: center;
  font-size: 24px;
}
.phone-container {
  position: relative;
  width: 400px; 
  height: 700px;
  background-color: #5b92ac;
  border: 16px solid #333;
  border-radius: 36px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}
.button {
  position: absolute;
  width: 200px; 
  height: 100px; 
  background-color:#487579;
  color: #fff;
  border: none;
  border-radius: 8px;
  font-size: 26px;
  cursor: pointer;
}
.buttonh {
  position: absolute;
  width: 80px; 
  height: 60px; 
  background-color: #487579;
  color: #fff;
  border:#131212 ;
  border-style: double;
  border-radius: 16px;
  font-size: 20px;
  cursor: pointer;
}
.button1 { top: 120px; left: 100px; }
.button2 { top: 240px; right: 100px; }
.button3 { bottom: 230px; left: 100px; }
.button4 { bottom: 110px; right: 100px; }
.button5 { bottom: 10px; right: 300px; }